body {
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    display: flex;  
    justify-content: right;
    gap: 30px;
}
nav li {
    display: inline-block;
    padding: 2em;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav a:hover{
    text-decoration: underline;
}
header  {
text-align: center;
margin-bottom: 40px;
}
header h1{
    font-size: 2.5em;
    margin-bottom: 20px;
}
section {
    margin-bottom: 40px;
    text-align: center;
}
h2{
    margin-bottom: 15px;
    text-align: center;
}
#menuWrapper{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.menuItem {
    background-color: white;
    padding:15px;
    width:200px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}
.menuItem img {
    max-width: 100%;
    border-radius: 5px;
}
#eventsWrapper{
    display:flex;
    flex-wrap: column;
    gap: 10px;
    justify-content: center;
}
.individualEvent {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.individualEvent:hover {
    background-color: #f9f9f9;
}
#eventDetails{
    text-align: center;
    margin-top: 30px;
}
form{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 600px;
    margin-bottom: 30px;
}
form label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#menuForm,#eventForm {
    max-width: 600px;
    margin:30px auto;
}
h1{
    text-align: center;
    margin-bottom: 30px;
}
button:hover {
    background-color: #f0f0f0;
}

/* event.html */
#oneEvent p {
    text-align: center;
    font-size: 1.5em;
}